@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
   
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: white;  

}

button{
    cursor: pointer;
  
}
button:hover{
    background-color: white;
    color: black;
}
.container{
    background-image: url("https://new-assets.ccbp.in/frontend/static-website/moon-stars-bg.png");
    display: column;
    padding: 50px;
    margin: 50px;
    border-radius: 15px;
    

}

@media screen and (max-width:600px){
    .container,body{
        background-image: none;
        color: black;
    }
}
